################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test File Creator.Tests/bin/Debug/net7.0-windows
/Test File Creator.Tests/obj/Debug
/Test File Creator.Tests/obj
